body {
    background-color: bisque;
}

.hello {
    color: red;
    background: url('./children1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
  }